.tabsSide span.active {
  background: #78d5ef;
  color: white;
}

.opened-answer {
  padding: 20px;
  display: grid;
  overflow: hidden;
  grid-template-rows: 1fr;
  transition: 0.5s ease-in-out;
}

.closed-answer {
  display: grid;
  overflow: hidden;
  grid-template-rows: 0fr;
  transition: 0.5s ease-in-out;
  padding: 0 20px;
}
